# =============================
# Visual Studio
# =============================

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =============================
# Build results
# =============================

bin/
obj/
Debug/
Release/
x64/
x86/
AppPackages/
*.appx
*.appxbundle
*.nupkg
*.snupkg

# =============================
# Rider / JetBrains IDE
# =============================

.idea/
*.sln.iml

# =============================
# Visual Studio Code
# =============================

.vscode/

# =============================
# NuGet
# =============================

*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# =============================
# DotCover
# =============================

*.dotCover

# =============================
# ReSharper
# =============================

_ReSharper*/
*.DotSettings.user

# =============================
# User-specific files
# =============================

*.rsuser
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# =============================
# OS generated
# =============================

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =============================
# Others
# =============================

*.log
*.tlog
*.lastbuildstate
*.vsix
